/* header */
header{
  display: flex;
  width: 100%;
  height: 90px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
}
.pc-inner{
  display: flex;
  height: 100%;
  width: 1183px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.hamburger{
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
#line1, #line2{
  display: block;
  width: 45px;
  height: 5px;
  background-color: black;
}
#line2{
  margin: 10px 0 3px;
}
.hamburger-content{
  width: 560px;
  padding: 40px 0 40px 76px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fcaf17;
  z-index: 99;
  opacity: .9;
  display: none;
}
.slide{
  display: block;
}

.menu-title{
  font-size: 32px;
  color: white;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 35px;
}
.content{
  margin: 12.5px 0;
}
.content a{
  font-size: 24px;
  color: white;
  font-weight: bold;
  letter-spacing: .08em;
}
.content:nth-of-type(10){
  margin-bottom: 50px;
}

.content a:hover{
  color: #ec821c;
}


/* mv */
#mv{
  position: relative;
  padding-top: 270px;
  padding-bottom: 195px;
  overflow-y: hidden;
}
.mv-title{
  width: 1028px;
  margin: 0px auto 47px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: .05em;
}

.content-explain{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
}

#mv .content-explain{
  width: 1028px;
  margin: 0 auto;
  letter-spacing: .1em;
  padding-right: 514px;
}

#mv-circle{
  position: absolute;
  left: -0px;
  top: 100px;
  z-index: -1;
}

#videotext{
  position: absolute;
  right: 0;
  top: 430px;
}
